<h1>Pandas</h1>

In [4]:
import pandas as pd
import numpy as np

In [13]:
list=[10,20,30]

We can't directly initialize elements to a series as we do for lists,dictionary.Series can be empty or build on top of a list,array or dictionary

<h3>creating an pandas series from python list</h3>

In [14]:
l_series=pd.Series(list)

In [15]:
print(l_series)
# O/P:
# Axis  Values
# 0    10
# 1    20
# 2    30
# dtype: int64

0    10
1    20
2    30
dtype: int64

In [17]:
# Returns the starting and ending index value and the way how indexed is incremented
print(l_series.index)

RangeIndex(start=0, stop=3, step=1)

In [18]:
# Returns the elements of series in iterable format
print(l_series.values)

[10 20 30]

<h3>creating an pandas series from numpy array</h3>

In [24]:
index=['a','b','c'] # Adding custom index to the series 
arr=np.array([2,3,10]) #Initializing an numpy array with the use numpy.array() function
np_series=pd.Series(arr,index)
print(np_series)

a     2
b     3
c    10
dtype: int32

<h3>creating an pandas series from python dictionary</h3>

In [49]:
dict={'a':2,'b':3,'c':10}  #Initializing an python dictionary
dict_series=pd.Series(dict) #Creating the series from dictionary
print(dict_series)
# keys from dictionary is taken as index, if index is default 
# a     2          
# b     3
# c    10
# dtype: int64

a     2
b     3
c    10
dtype: int64

<h2>Index in Series</h2>

In [43]:
ser1=pd.Series([1,2,3,4],index=['USA','Germany','USSR','Japan'])
ser2=pd.Series([1,2,5,4],index=['USA','Germany','Italy','Japan'])

In [44]:
ser2['Italy'] #Returns the element of that index

5

In [45]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [46]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [48]:
# Arithmetic operations like addition,subtraction,multiplication and division can be done on two series 
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

<h2>DataFrame</h2>

DataFrames are two dimensional with rows and columns

In [16]:
df=pd.DataFrame([[1,2,3],
                [3,4,5],
                [5,6,7],
                [7,8,9]
                ])
df

   0  1  2
0  1  2  3
1  3  4  5
2  5  6  7
3  7  8  9

In [17]:
print("Shape:",df.shape) #returns the dimension of the df
print("Index:",df.index)

Shape: (4, 3)
Index: RangeIndex(start=0, stop=4, step=1)

In [19]:
# custom row and column indices
df2=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],index=['a','b','c','d'],columns=[1,2,3])
df2

    1   2   3
a   1   2   3
b   4   5   6
c   7   8   9
d  10  11  12

In [21]:
print(df2.shape)
print(df2.index) #Returns the custom index and its datatype

(4, 3)
Index(['a', 'b', 'c', 'd'], dtype='object')

<h2>Weather dataset analysis with pandas</h2>

In [25]:
weather_df=pd.read_csv("Data/Weather Data.csv")

In [27]:
# View the top 5 rows
weather_df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [29]:
weather_df["Date/Time"].head()

0    1/1/2012 0:00
1    1/1/2012 1:00
2    1/1/2012 2:00
3    1/1/2012 3:00
4    1/1/2012 4:00
Name: Date/Time, dtype: object

In [30]:
# Datetime is in object datatype .We should convert it into datetime datatype to do analysis based on the date
weather_df["Date/Time"]=pd.to_datetime(weather_df["Date/Time"])

In [32]:
# Validating the datatype conversion
weather_df["Date/Time"].head()

0   2012-01-01 00:00:00
1   2012-01-01 01:00:00
2   2012-01-01 02:00:00
3   2012-01-01 03:00:00
4   2012-01-01 04:00:00
Name: Date/Time, dtype: datetime64[ns]

<h3>Important functions while working with dataframe that eases the work</h3>

<b><i>info()</i></b> returns the metadata information of dataframe such as total row count,row index,column information with their datatype and total memory usage by dataframe

In [36]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   datetime64[ns]
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

<b><i>head()</i></b> returns the first 5 rows by default and we opt for 'n' number of rows by giving 'n' as input <i>head(n)</i>.

In [41]:
weather_df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

<b><i>index</i></b> returns the index information

In [44]:
weather_df.index

RangeIndex(start=0, stop=8784, step=1)

<b><i>unique()</i></b>

Belongs to the series object.Returns the unique values of a particular column.
        <ol>
            1) Values are returned in the order of appearence,doesn't sort 
        </ol>
        <ol>
            2) Includes N/A values 
        </ol>

In [48]:
weather_df["Weather"].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

<h2><i>Mini Challenge 1</i></h2>

<i>Find all the unique Wind Speed values recorded in the dataset</i>

In [50]:
weather_df["Wind Speed_km/h"].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

<b><i>nunique()</i></b>

Property of Series object . Counts the number of unique values in a column
<ol>
    1)Does not include 'N/A'
</ol>
<ol>
    2)Return type is integer
</ol>

In [54]:
weather_df["Weather"].nunique()

50

<b><i>value_counts()</b></i>

Property of Series object . Counts the number of occurences of each unique value in a column 
Similar to combination of <i>count and group by in SQL</i>
<ol>
    1)Resulting value will be in descending order so that the first value will be the most occuring value
</ol>
<ol>
    2)Doesn't include 'N/A' by default 
</ol>

In [58]:
weather_df["Weather"].value_counts()

Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: count, dtype: int64

<h2><i>Mini Challenge 2</i></h2>

Find the number of times when the weather was "clear"

<i>hint</i>: value_counts gives us all the unique values and their occurence counts. 
To get for a particular value,mention the value in square brackets after the value_counts() function.
<i><b>DataFrame["column_name"].value_counts()["value"]</b><i>

In [66]:
weather_df["Weather"].value_counts()["Clear"]

1326

<h2><i>Mini Challenge 3</i></h2>

Find the number of times when the wind speed was exactly 4 km/h

In [70]:
weather_df["Wind Speed_km/h"].value_counts()[4]

474

<h2>Data Manipulation in Pandas</h2>

Get the subset of a dataframe like single column from a dataframe

In [74]:
col=weather_df["Weather"]
print(type(col)) #As single column is a series in pandas, it is stored as Series
print(col)

<class 'pandas.core.series.Series'>
0                        Fog
1                        Fog
2       Freezing Drizzle,Fog
3       Freezing Drizzle,Fog
4                        Fog
                ...
8779                    Snow
8780                    Snow
8781                    Snow
8782                    Snow
8783                    Snow
Name: Weather, Length: 8784, dtype: object

Retrieve two columns from a dataframe(subset)

In [78]:
sub_df=weather_df[["Weather","Wind Speed_km/h"]]
# [] is for series and [[]] is for subset of dataframe.
print(type(sub_df)) #stored as dataframe
print(sub_df)

<class 'pandas.core.frame.DataFrame'>
                   Weather  Wind Speed_km/h
0                      Fog                4
1                      Fog                4
2     Freezing Drizzle,Fog                7
3     Freezing Drizzle,Fog                6
4                      Fog                7
...                    ...              ...
8779                  Snow               30
8780                  Snow               24
8781                  Snow               28
8782                  Snow               28
8783                  Snow               30

[8784 rows x 2 columns]

<b><i>Important</i></b>: Whenever you are retreiving more than one column from dataframe , use double open and closing brackets

<h2>Get the first 25 rows from "weather_df" DataFrame </h2><hr>

We can utilize slicing method by mentioning the start and end range <br>
Syntax:<b>slicing[start:end]</b><br>
Even if the index is non-numerical, it will work

In [80]:
weather_df[:25]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,Fog
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,Fog
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,Fog
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,Fog
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,Fog
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,Fog
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,Mostly Cloudy
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,Cloudy
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,Rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,Rain
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,Cloudy
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,Cloudy
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers

<h3>Retrieve alternative records  from a dataframe</h3>

In [82]:
weather_df[0:10:2] #To retrieve alternating rows from 0th index to 10th

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog

Retrieve alternating records from only selected columns

In [84]:
weather_df[["Weather","Wind Speed_km/h"]][:10:2]

                Weather  Wind Speed_km/h
0                   Fog                4
2  Freezing Drizzle,Fog                7
4                   Fog                7
6                   Fog                7
8                   Fog                9

<h3>How to get the first 3 alternating rows from the "weather_df" dataframe, but only the Visibility and Relative Humidity columns</h3>

In [85]:
weather_df[["Visibility_km","Rel Hum_%"]][:6:2]

   Visibility_km  Rel Hum_%
0            8.0         86
2            4.0         89
4            4.8         88

In [91]:
# solution 1
result1 = weather_df[:6:2][['Rel Hum_%', 'Visibility_km']]

# solution 2
result2 = weather_df[['Rel Hum_%', 'Visibility_km']][:6:2]

# are they the same?
result1 == result2 #== will return result as comparision result DataFrame if no of elements in both the dataframe is equal

   Rel Hum_%  Visibility_km
0       True           True
2       True           True
4       True           True

<h3>So which of the above solutions is optimal?</h3><hr>

<b>Answer:</b><i>Neither</i>. In above two solutions, we are doing chained indexing.During chained indexing, pandas is not sure whether you are applying changes on the original dataframe or copy of dataframe<br>
<b>What is chained indexing?</b><br> Accessing a dataframe by chaining an multiple indexes together.This can lead to ambiguous behavior and performance issues because it is unclear whether the intermediate steps are operating on the original DataFrame or on a copy of it.

<h4>Breakdown of above solutions</h4><hr>
<b>Solution 1:</b><br>
<i>result1 = weather_df[:6:2][['Rel Hum_%', 'Visibility_km']]<br></i>
<ol>
    1)weather_df[:6:2] selects rows at position 2,4,6 from weather_df<br>
</ol>
<ol>
    2)Result of above operation is again indexed to filter the columns 'Rel Hum_%' and 'Visibility_km'<br>
</ol>
<b>Solution 2:</b><br>
<i>result2 = weather_df[['Rel Hum_%', 'Visibility_km']][:6:2]<br></i>
<ol>
    1)weather_df is indexed to filter columns 'Rel Hum_%' and 'Visibility_km'<br>
</ol>
<ol>
    2)result of above operation is again indexed to select rows at position 2,4,6<br>
</ol><br>
While above solutions may yield correct result in read-only scenarios, it causes issue in writing to a dataframe, as pandas will not be sure whether to write to the dataframe or copy of dataframe.<br><hr>

In the above operation, weather_df[:6:2] could either:<br>
<ol>
    Return a view on the original DataFrame (meaning it still references the same underlying data).
</ol>
<ol>
    Return a copy of the data (a completely independent DataFrame).
</ol>
If it returns a copy, any modifications to this subset will not affect the original DataFrame weather_df.<br>

Here, <i><b>indexing refers to the process of selecting specific rows and columns from a DataFrame</b><i><br>

To avoid these issues, you should use <b>single row indexing</b>