<h1>Pandas</h1>

In [4]:
import pandas as pd
import numpy as np

In [13]:
list=[10,20,30]

We can't directly initialize elements to a series as we do for lists,dictionary.Series can be empty or build on top of a list,array or dictionary

<h3>creating an pandas series from python list</h3>

In [14]:
l_series=pd.Series(list)

In [15]:
print(l_series)
# O/P:
# Axis  Values
# 0    10
# 1    20
# 2    30
# dtype: int64

0    10
1    20
2    30
dtype: int64

In [17]:
# Returns the starting and ending index value and the way how indexed is incremented
print(l_series.index)

RangeIndex(start=0, stop=3, step=1)

In [18]:
# Returns the elements of series in iterable format
print(l_series.values)

[10 20 30]

<h3>creating an pandas series from numpy array</h3>

In [24]:
index=['a','b','c'] # Adding custom index to the series 
arr=np.array([2,3,10]) #Initializing an numpy array with the use numpy.array() function
np_series=pd.Series(arr,index)
print(np_series)

a     2
b     3
c    10
dtype: int32

<h3>creating an pandas series from python dictionary</h3>

In [49]:
dict={'a':2,'b':3,'c':10}  #Initializing an python dictionary
dict_series=pd.Series(dict) #Creating the series from dictionary
print(dict_series)
# keys from dictionary is taken as index, if index is default 
# a     2          
# b     3
# c    10
# dtype: int64

a     2
b     3
c    10
dtype: int64

<h2>Index in Series</h2>

In [43]:
ser1=pd.Series([1,2,3,4],index=['USA','Germany','USSR','Japan'])
ser2=pd.Series([1,2,5,4],index=['USA','Germany','Italy','Japan'])

In [44]:
ser2['Italy'] #Returns the element of that index

5

In [45]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [46]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [48]:
# Arithmetic operations like addition,subtraction,multiplication and division can be done on two series 
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

<h2>DataFrame</h2>

DataFrames are two dimensional with rows and columns

In [16]:
df=pd.DataFrame([[1,2,3],
                [3,4,5],
                [5,6,7],
                [7,8,9]
                ])
df

   0  1  2
0  1  2  3
1  3  4  5
2  5  6  7
3  7  8  9

In [17]:
print("Shape:",df.shape) #returns the dimension of the df
print("Index:",df.index)

Shape: (4, 3)
Index: RangeIndex(start=0, stop=4, step=1)

In [19]:
# custom row and column indices
df2=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],index=['a','b','c','d'],columns=[1,2,3])
df2

    1   2   3
a   1   2   3
b   4   5   6
c   7   8   9
d  10  11  12

In [21]:
print(df2.shape)
print(df2.index) #Returns the custom index and its datatype

(4, 3)
Index(['a', 'b', 'c', 'd'], dtype='object')

<h2>Weather dataset analysis with pandas</h2>

In [25]:
weather_df=pd.read_csv("Data/Weather Data.csv")

In [27]:
# View the top 5 rows
weather_df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [29]:
weather_df["Date/Time"].head()

0    1/1/2012 0:00
1    1/1/2012 1:00
2    1/1/2012 2:00
3    1/1/2012 3:00
4    1/1/2012 4:00
Name: Date/Time, dtype: object

In [30]:
# Datetime is in object datatype .We should convert it into datetime datatype to do analysis based on the date
weather_df["Date/Time"]=pd.to_datetime(weather_df["Date/Time"])

In [32]:
# Validating the datatype conversion
weather_df["Date/Time"].head()

0   2012-01-01 00:00:00
1   2012-01-01 01:00:00
2   2012-01-01 02:00:00
3   2012-01-01 03:00:00
4   2012-01-01 04:00:00
Name: Date/Time, dtype: datetime64[ns]

<h3>Important functions while working with dataframe that eases the work</h3>

<b><i>info()</i></b> returns the metadata information of dataframe such as total row count,row index,column information with their datatype and total memory usage by dataframe

In [36]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   datetime64[ns]
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

<b><i>head()</i></b> returns the first 5 rows by default and we opt for 'n' number of rows by giving 'n' as input <i>head(n)</i>.

In [41]:
weather_df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

<b><i>index</i></b> returns the index information

In [44]:
weather_df.index

RangeIndex(start=0, stop=8784, step=1)

<b><i>unique()</i></b>

Belongs to the series object.Returns the unique values of a particular column.
        <ol>
            1) Values are returned in the order of appearence,doesn't sort 
        </ol>
        <ol>
            2) Includes N/A values 
        </ol>

In [48]:
weather_df["Weather"].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

<h2>Mini Challenge 1 </h2>