<h1>Pandas</h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
list=[10,20,30]

We can't directly initialize elements to a series as we do for lists,dictionary.Series can be empty or build on top of a list,array or dictionary

<h3>creating an pandas series from python list</h3>

In [7]:
l_series=pd.Series(list)

In [8]:
print(l_series)
# O/P:
# Axis  Values
# 0    10
# 1    20
# 2    30
# dtype: int64

0    10
1    20
2    30
dtype: int64

In [ ]:
# Returns the starting and ending index value and the way how indexed is incremented
print(l_series.index)

In [ ]:
# Returns the elements of series in iterable format
print(l_series.values)

<h3>creating an pandas series from numpy array</h3>

In [ ]:
index=['a','b','c'] # Adding custom index to the series 
arr=np.array([2,3,10]) #Initializing an numpy array with the use numpy.array() function
np_series=pd.Series(arr,index)
print(np_series)

<h3>creating an pandas series from python dictionary</h3>

In [ ]:
dict={'a':2,'b':3,'c':10}  #Initializing an python dictionary
dict_series=pd.Series(dict) #Creating the series from dictionary
print(dict_series)
# keys from dictionary is taken as index, if index is default 
# a     2          
# b     3
# c    10
# dtype: int64

<h2>Index in Series</h2>

In [ ]:
ser1=pd.Series([1,2,3,4],index=['USA','Germany','USSR','Japan'])
ser2=pd.Series([1,2,5,4],index=['USA','Germany','Italy','Japan'])

In [ ]:
ser2['Italy'] #Returns the element of that index

In [ ]:
ser1

In [ ]:
ser2

In [ ]:
# Arithmetic operations like addition,subtraction,multiplication and division can be done on two series 
ser1+ser2

<h2>DataFrame</h2>

DataFrames are two dimensional with rows and columns

In [ ]:
df=pd.DataFrame([[1,2,3],
                [3,4,5],
                [5,6,7],
                [7,8,9]
                ])
df

In [ ]:
print("Shape:",df.shape) #returns the dimension of the df
print("Index:",df.index)

In [ ]:
# custom row and column indices
df2=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],index=['a','b','c','d'],columns=[1,2,3])
df2

In [ ]:
print(df2.shape)
print(df2.index) #Returns the custom index and its datatype

<h2>Weather dataset analysis with pandas</h2>

In [3]:
weather_df=pd.read_csv("Data/Weather Data.csv")

In [4]:
# View the top 5 rows
weather_df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [5]:
weather_df["Date/Time"].head()

0    1/1/2012 0:00
1    1/1/2012 1:00
2    1/1/2012 2:00
3    1/1/2012 3:00
4    1/1/2012 4:00
Name: Date/Time, dtype: object

In [6]:
# Datetime is in object datatype .We should convert it into datetime datatype to do analysis based on the date
weather_df["Date/Time"]=pd.to_datetime(weather_df["Date/Time"])

In [ ]:
# Validating the datatype conversion
weather_df["Date/Time"].head()

<h3>Important functions while working with dataframe that eases the work</h3>

<b><i>info()</i></b> returns the metadata information of dataframe such as total row count,row index,column information with their datatype and total memory usage by dataframe

In [44]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   datetime64[ns]
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
 8   temp_col          8784 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

<b><i>head()</i></b> returns the first 5 rows by default and we opt for 'n' number of rows by giving 'n' as input <i>head(n)</i>.

In [ ]:
weather_df.head()

<b><i>index</i></b> returns the index information

In [ ]:
weather_df.index

<b><i>unique()</i></b>

Belongs to the series object.Returns the unique values of a particular column.
        <ol>
            1) Values are returned in the order of appearence,doesn't sort 
        </ol>
        <ol>
            2) Includes N/A values 
        </ol>

In [ ]:
weather_df["Weather"].unique()

<h2><i>Mini Challenge 1</i></h2>

<i>Find all the unique Wind Speed values recorded in the dataset</i>

In [ ]:
weather_df["Wind Speed_km/h"].unique()

<b><i>nunique()</i></b>

Property of Series object . Counts the number of unique values in a column
<ol>
    1)Does not include 'N/A'
</ol>
<ol>
    2)Return type is integer
</ol>

In [ ]:
weather_df["Weather"].nunique()

<b><i>value_counts()</b></i>

Property of Series object . Counts the number of occurences of each unique value in a column 
Similar to combination of <i>count and group by in SQL</i>
<ol>
    1)Resulting value will be in descending order so that the first value will be the most occuring value
</ol>
<ol>
    2)Doesn't include 'N/A' by default 
</ol>

In [ ]:
weather_df["Weather"].value_counts()

<h2><i>Mini Challenge 2</i></h2>

Find the number of times when the weather was "clear"

<i>hint</i>: value_counts gives us all the unique values and their occurence counts. 
To get for a particular value,mention the value in square brackets after the value_counts() function.
<i><b>DataFrame["column_name"].value_counts()["value"]</b><i>

In [ ]:
weather_df["Weather"].value_counts()["Clear"]

<h2><i>Mini Challenge 3</i></h2>

Find the number of times when the wind speed was exactly 4 km/h

In [ ]:
weather_df["Wind Speed_km/h"].value_counts()[4]

<h2>Data Manipulation in Pandas</h2>

Get the subset of a dataframe like single column from a dataframe

In [ ]:
col=weather_df["Weather"]
print(type(col)) #As single column is a series in pandas, it is stored as Series
print(col)

Retrieve two columns from a dataframe(subset)

In [ ]:
sub_df=weather_df[["Weather","Wind Speed_km/h"]]
# [] is for series and [[]] is for subset of dataframe.
print(type(sub_df)) #stored as dataframe
print(sub_df)

<b><i>Important</i></b>: Whenever you are retreiving more than one column from dataframe , use double open and closing brackets

<h2>Get the first 25 rows from "weather_df" DataFrame </h2><hr>

We can utilize slicing method by mentioning the start and end range <br>
Syntax:<b>slicing[start:end]</b><br>
Even if the index is non-numerical, it will work

In [ ]:
weather_df[:25]

<h3>Retrieve alternative records  from a dataframe</h3>

In [ ]:
weather_df[0:10:2] #To retrieve alternating rows from 0th index to 10th

Retrieve alternating records from only selected columns

In [ ]:
weather_df[["Weather","Wind Speed_km/h"]][:10:2]

<h3>How to get the first 3 alternating rows from the "weather_df" dataframe, but only the Visibility and Relative Humidity columns</h3>

In [ ]:
weather_df[["Visibility_km","Rel Hum_%"]][:6:2]

In [ ]:
# solution 1
result1 = weather_df[:6:2][['Rel Hum_%', 'Visibility_km']]

# solution 2
result2 = weather_df[['Rel Hum_%', 'Visibility_km']][:6:2]

# are they the same?
result1 == result2 #== will return result as comparision result DataFrame if no of elements in both the dataframe is equal

<h3>So which of the above solutions is optimal?</h3><hr>

<b>Answer:</b><i>Neither</i>. In above two solutions, we are doing chained indexing.During chained indexing, pandas is not sure whether you are applying changes on the original dataframe or copy of dataframe<br>
<b>What is chained indexing?</b><br> Accessing a dataframe by chaining an multiple indexes together.This can lead to ambiguous behavior and performance issues because it is unclear whether the intermediate steps are operating on the original DataFrame or on a copy of it.

<h4>Breakdown of above solutions</h4><hr>
<b>Solution 1:</b><br>
<i>result1 = weather_df[:6:2][['Rel Hum_%', 'Visibility_km']]<br></i>
<ol>
    1)weather_df[:6:2] selects rows at position 2,4,6 from weather_df<br>
</ol>
<ol>
    2)Result of above operation is again indexed to filter the columns 'Rel Hum_%' and 'Visibility_km'<br>
</ol>
<b>Solution 2:</b><br>
<i>result2 = weather_df[['Rel Hum_%', 'Visibility_km']][:6:2]<br></i>
<ol>
    1)weather_df is indexed to filter columns 'Rel Hum_%' and 'Visibility_km'<br>
</ol>
<ol>
    2)result of above operation is again indexed to select rows at position 2,4,6<br>
</ol><br>
While above solutions may yield correct result in read-only scenarios, it causes issue in writing to a dataframe, as pandas will not be sure whether to write to the dataframe or copy of dataframe.<br><hr>

In the above operation, weather_df[:6:2] could either:<br>
<ol>
    Return a view on the original DataFrame (meaning it still references the same underlying data).
</ol>
<ol>
    Return a copy of the data (a completely independent DataFrame).
</ol>
If it returns a copy, any modifications to this subset will not affect the original DataFrame weather_df.<br>

Here, <i><b>indexing refers to the process of selecting specific rows and columns from a DataFrame</b><i><br>

To avoid these issues, you should use <b>single row indexing</b>

<h3>Single row indexing</h3>

Single row indexing deals with the <b>view of the dataframe, not with the copy</b>.<br>So it is encouraged to use single row indexing for viewing and modifying dataframe<br>Data can be indexed by label or integer based

Single row indexing deals with the <b>view of the dataframe, not with the copy</b>.<br>So it is encouraged to use single row indexing for viewing and modifying dataframe<br>Data can be indexed by label or integer based

<h3>loc()</h3><hr>label based indexing<br>
<b>Syntax:</b><br>
<i>DataFrame.loc[row label slicing/label,column label slicing/label]</i>

In [26]:
weather_df.loc()[0:10] #It includes the ending index

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,Fog

In [15]:
# Get the specific row and column
weather_df.loc[3,'Rel Hum_%']

88

In [18]:
# Select multiple rows and columns
weather_df.loc[[3,7],['Rel Hum_%', 'Visibility_km']]

   Rel Hum_%  Visibility_km
3         88            4.0
7         85            8.0

In [21]:
# Slicing in rows and columns
weather_df.loc[3:7,'Rel Hum_%':'Weather']

   Rel Hum_%  Wind Speed_km/h  Visibility_km  Press_kPa               Weather
3         88                6            4.0     101.27  Freezing Drizzle,Fog
4         88                7            4.8     101.23                   Fog
5         87                9            6.4     101.27                   Fog
6         89                7            6.4     101.29                   Fog
7         85                7            8.0     101.26                   Fog

<h3>iloc()</h3><hr>
position based indexing/integer based <br>
<b>Syntax:</b><br>
<i>DataFrame.iloc[row index slicing/index,column index slicing/index]</i>

In [23]:
weather_df.iloc[0:10] #Doesn't include the ending index here

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog

In [28]:
#Index column by position
weather_df.iloc[0:10,7]

0                     Fog
1                     Fog
2    Freezing Drizzle,Fog
3    Freezing Drizzle,Fog
4                     Fog
5                     Fog
6                     Fog
7                     Fog
8                     Fog
9                     Fog
Name: Weather, dtype: object

In [29]:
# Slicing column by position
weather_df.iloc[0:10,4:7] #doesn't include the weather column here as it doesnt cover the ending index

   Wind Speed_km/h  Visibility_km  Press_kPa
0                4            8.0     101.24
1                4            8.0     101.24
2                7            4.0     101.26
3                6            4.0     101.27
4                7            4.8     101.23
5                9            6.4     101.27
6                7            6.4     101.29
7                7            8.0     101.26
8                9            8.0     101.23
9               15            4.0     101.20

<h2>Mini Challenge 4 </h2>
<hr>
Get the first 3 alternating rows from the <b>weather_df</b> dataframe, but only the <i>Visibility and Relative Humidity</i> columns

In [34]:
weather_df.iloc[0:6:2,[3,5]]

   Rel Hum_%  Visibility_km
0         86            8.0
2         89            4.0
4         88            4.8

<h2>Filtering</h2>
<hr>

When working with data, we may not need all the data .We need to <b>filter</b> the data based on the requirement and work on it.<br>So understanding filter operations is crucial

<h3>Find all instances where it snowed</b>

In [21]:
weather_snow_check=weather_df["Weather"]=="Snow"
# Returns an boolean array with true for rows that satisfies the condition and false for others

In [22]:
weather_snow_check.value_counts()

Weather
False    8394
True      390
Name: count, dtype: int64

In [10]:
weather_df["Weather"].unique()
# Could see from the result that snow is part of other weathers as well such as 'Freezing Rain,Snow Grains','Rain Showers,Snow Showers' 
# So directly comparing won't help

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [12]:
weather_snowed=weather_df["Weather"].str.lower().str.contains("snow")

In [19]:
weather_snowed.value_counts()

Weather
False    8201
True      583
Name: count, dtype: int64

Could see the True in above case more than true in weather_snow_check!

<h3>Find all instances when wind speed was above 24 and visibility was 25<h3>

In [26]:
weather_df[(weather_df["Wind Speed_km/h"] > 24) & (weather_df["Visibility_km"]==25)] 
# (weather_df["Wind Speed_km/h"] > 24) & (weather_df["Visibility_km"]==25) will return an boolean array to outer weather_df dataframe

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8705,2012-12-28 17:00:00,-8.6,-12.0,76,26,25.0,101.34,Mainly Clear
8753,2012-12-30 17:00:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy

<h3>Summary:Selection,Indexing and Filtering</h3>
<hr>
    <table border="1">
        <tr>
            <th>Syntax</th>
            <th>Function</th>
        </tr>
        <tr>
            <td>df['label']</td>
            <td>Returns the specific label column</td>
        </tr>
        <tr>
            <td>df['label1', 'label2']</td>
            <td>Returns multiple label columns</td>
        </tr>
        <tr>
            <td>df['row_label', 'column_label']</td>
            <td>Returns multiple label columns</td>
        </tr>
        <tr>
            <td>df[start_index:end_index:increment]</td>
            <td>Returns rows based on slicing label/index without ending label index</td>
        </tr>
        <tr>
            <td>df.loc[start_label:end_label]</td>
            <td>Returns rows based on slicing label with ending label</td>
        </tr>
        <tr>
            <td>df.iloc[start_index:end_index]</td>
            <td>Returns rows based on slicing index without ending index</td>
        </tr>
        <tr>
            <td>df[condition/boolean_array]</td>
            <td>Returns based on condition or boolean array</td>
        </tr>
    </table>

<h2>Working with columns </h2>
<hr>

Learn
<ul>
    <li>How to carry out Series operations on DataFrame Columns</li>
    <li>How to add or update columns within a DataFrame</li>
    <li>How to rename specific columns</li>
    <li>How to delete or drop a column that is no longer required for analysis</li>
</ul>

Arithmetic operations on a single column in dataframe using the methods of Series

In [28]:
weather_df["Wind Speed_km/h"]%5  #Returns the remainder from 5

0       4
1       4
2       2
3       1
4       2
       ..
8779    0
8780    4
8781    3
8782    3
8783    0
Name: Wind Speed_km/h, Length: 8784, dtype: int64

Add 10 to the values in the column "Wind Spd (km/h)" using the "+" operator

In [30]:
weather_df["Wind Speed_km/h"]+10

0       14
1       14
2       17
3       16
4       17
        ..
8779    40
8780    34
8781    38
8782    38
8783    40
Name: Wind Speed_km/h, Length: 8784, dtype: int64

Multiply the values in the 'Visibility (km)' column by 2 using the asterisk (*) operator

In [31]:
weather_df["Visibility_km"]*2

0       16.0
1       16.0
2        8.0
3        8.0
4        9.6
        ...
8779    19.4
8780    19.4
8781     9.6
8782    19.4
8783    22.6
Name: Visibility_km, Length: 8784, dtype: float64

Add the "Temp (C)" and "Dew Point Temp (C)" columns as series "temperature"

In [32]:
temperature=weather_df["Temp_C"]+weather_df["Dew Point Temp_C"]

In [33]:
print(temperature)

0      -5.7
1      -5.5
2      -5.2
3      -4.7
4      -4.8
       ...
8779   -2.6
8780   -2.2
8781   -2.0
8782   -2.0
8783   -2.1
Length: 8784, dtype: float64

Add the temperature column temp in weather df adding "Temp (C)" and "Dew Point Temp (C)"

In [34]:
weather_df["temp_col"]=weather_df["Temp_C"]+weather_df["Dew Point Temp_C"]

In [36]:
#could see the temp_col created 
weather_df.head() 
weather_df.info()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather,temp_col
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8

<h2>Apply/Call functions </h2>

<h3>apply()</h3>
<hr>
Helps to apply built in or custom function on the specific axis of series or dataframe.<br> Here axis 0 for columns and 1 for rows<br>
<b>Syntax:</b><br>
<i>df.apply(func,axis)</i>

In [ ]:
# Column level operation
def double_value(col):
    return col*2

weather_df["Wind Speed_km/h"].apply(double_value,0)

In [ ]:
# Same can be acheived by lambda function
weather_df["Wind Speed_km/h"].apply(lambda values:values*2,0)

In [80]:
# Row level operation
# Average of Temp_C and Dew Point Temp_C 
weather_df[["Temp_C","Dew Point Temp_C"]].apply(lambda values:sum(values)/2,0)

Temp_C              38641.45
Dew Point Temp_C    11222.85
dtype: float64

<h3>describe()</h3>
<hr>
Fetches the descriptive statistics for a series or dataframe excluding <b>NaN (missing) values</b>.<br>
<b>For integer data:</b>
    Index includes count, mean, std, min, max, and percentiles (default: 25th, 50th, 75th).<br>
<b>For object data:</b>
    Index includes count, unique, top, and frequency.

In [51]:
weather_df.describe()
# The reason the weather column is not included in the describe() result is that this method provides summary statistics only for numeric columns
# when particular column name is not mentioned.

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,temp_col
count,8784,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,2012-07-01 23:30:00,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623,11.353438
min,2012-01-01 00:00:00,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000,-51.800000
25%,2012-04-01 11:45:00,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000,-5.300000
50%,2012-07-01 23:30:00,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000,12.200000
75%,2012-10-01 11:15:00,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000,30.600000
max,2012-12-31 23:00:00,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000,53.400000
std,NaN,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005,22.188521

In [55]:
# For numeric column
weather_df["Wind Speed_km/h"].describe()

count    8784.000000
mean       14.945469
std         8.688696
min         0.000000
25%         9.000000
50%        13.000000
75%        20.000000
max        83.000000
Name: Wind Speed_km/h, dtype: float64

In [54]:
# For object column
weather_df["Weather"].describe()

count             8784
unique              50
top       Mainly Clear
freq              2106
Name: Weather, dtype: object

<h3>Adding/Updating column</h3>
<hr>

In [56]:
# adding an column
weather_df["temp_mean"]=weather_df[["Temp_C","Dew Point Temp_C"]].apply(lambda values:sum(values)/2,1)

In [57]:
weather_df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather,temp_col,temp_mean
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7,-2.85
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5,-2.75
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2,-2.60
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7,-2.35
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8,-2.40

In [58]:
# Updating an column
new_visibility=weather_df["Visibility_km"]*1000
weather_df["Visibility_km"]=new_visibility

In [59]:
weather_df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather,temp_col,temp_mean
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8000.0,101.24,Fog,-5.7,-2.85
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8000.0,101.24,Fog,-5.5,-2.75
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4000.0,101.26,"Freezing Drizzle,Fog",-5.2,-2.60
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4000.0,101.27,"Freezing Drizzle,Fog",-4.7,-2.35
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4800.0,101.23,Fog,-4.8,-2.40

<h2>Renaming a column/row label</h2>
<hr>
Rename function works like a dictionary where column/row label is key and new is value<br>
<b>Syntax:</b><i>df.rename(column/index={key:value},inplace=True)</i><br>
Pandas by default creates a copy of dataframe for most of the operations.Thus changes will not affected in original dataframe. To avoid this,use <b>inplace=True</b>

In [61]:
# Renaming a column
weather_df.rename(columns={"Wind Speed_km/h":"Wind Speed"},inplace=True)

In [74]:
weather_df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed,Visibility_km,Press_kPa,Weather,temp_col,temp_mean
0.0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8000.0,101.24,Fog,-5.7,-2.85
0.0,2012-01-01 01:00:00,-1.8,-3.7,87,4,8000.0,101.24,Fog,-5.5,-2.75
2.0,2012-01-01 02:00:00,-1.8,-3.4,89,7,4000.0,101.26,"Freezing Drizzle,Fog",-5.2,-2.60
3.0,2012-01-01 03:00:00,-1.5,-3.2,88,6,4000.0,101.27,"Freezing Drizzle,Fog",-4.7,-2.35
4.0,2012-01-01 04:00:00,-1.5,-3.3,88,7,4800.0,101.23,Fog,-4.8,-2.40

In [73]:
# Renaming a row
weather_df.rename(index={1:00},inplace=True)

<h2>Dropping a column/index </h2>
<hr>
drops the particular row or column based on the axis.If inplace is not True, it will modify the copy of the dataframe and return it.Not to the original one<br>
<p>axis 0 for rows,1 for columns </p>
<b>Syntax:</b>
<i>df.drop(label="",axis)</i>

In [88]:
# Drop the column wind 
weather_df.drop(labels="Dew Point Temp_C",axis=1)
weather_df.head()
# Could see the wind speed column is present in the dataframe.As we didnt use the "inplace=True",it returns the copy of data

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Visibility_km,Press_kPa,Weather,temp_col,temp_mean
0.0,2012-01-01 00:00:00,-1.8,-3.9,86,8000.0,101.24,Fog,-5.7,-2.85
0.0,2012-01-01 01:00:00,-1.8,-3.7,87,8000.0,101.24,Fog,-5.5,-2.75
2.0,2012-01-01 02:00:00,-1.8,-3.4,89,4000.0,101.26,"Freezing Drizzle,Fog",-5.2,-2.60
3.0,2012-01-01 03:00:00,-1.5,-3.2,88,4000.0,101.27,"Freezing Drizzle,Fog",-4.7,-2.35
4.0,2012-01-01 04:00:00,-1.5,-3.3,88,4800.0,101.23,Fog,-4.8,-2.40

In [ ]:
# With inplace
weather_df.drop(labels="Wind Speed",axis=1,inplace=True)
weather_df.head()