<h1>Pandas</h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
list=[10,20,30]

We can't directly initialize elements to a series as we do for lists,dictionary.Series can be empty or build on top of a list,array or dictionary

<h3>creating an pandas series from python list</h3>

In [3]:
l_series=pd.Series(list)

In [4]:
print(l_series)
# O/P:
# Axis  Values
# 0    10
# 1    20
# 2    30
# dtype: int64

0    10
1    20
2    30
dtype: int64

In [5]:
# Returns the starting and ending index value and the way how indexed is incremented
print(l_series.index)

RangeIndex(start=0, stop=3, step=1)

In [6]:
# Returns the elements of series in iterable format
print(l_series.values)

[10 20 30]

<h3>creating an pandas series from numpy array</h3>

In [7]:
index=['a','b','c'] # Adding custom index to the series 
arr=np.array([2,3,10]) #Initializing an numpy array with the use numpy.array() function
np_series=pd.Series(arr,index)
print(np_series)

a     2
b     3
c    10
dtype: int32

<h3>creating an pandas series from python dictionary</h3>

In [8]:
dict={'a':2,'b':3,'c':10}  #Initializing an python dictionary
dict_series=pd.Series(dict) #Creating the series from dictionary
print(dict_series)
# keys from dictionary is taken as index, if index is default 
# a     2          
# b     3
# c    10
# dtype: int64

a     2
b     3
c    10
dtype: int64

<h2>Index in Series</h2>

In [9]:
ser1=pd.Series([1,2,3,4],index=['USA','Germany','USSR','Japan'])
ser2=pd.Series([1,2,5,4],index=['USA','Germany','Italy','Japan'])

In [10]:
ser2['Italy'] #Returns the element of that index

5

In [11]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [12]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [13]:
# Arithmetic operations like addition,subtraction,multiplication and division can be done on two series 
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

<h2>DataFrame</h2>

DataFrames are two dimensional with rows and columns

In [14]:
df=pd.DataFrame([[1,2,3],
                [3,4,5],
                [5,6,7],
                [7,8,9]
                ])
df

   0  1  2
0  1  2  3
1  3  4  5
2  5  6  7
3  7  8  9

In [15]:
print("Shape:",df.shape) #returns the dimension of the df
print("Index:",df.index)

Shape: (4, 3)
Index: RangeIndex(start=0, stop=4, step=1)

In [16]:
# custom row and column indices
df2=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],index=['a','b','c','d'],columns=[1,2,3])
df2

    1   2   3
a   1   2   3
b   4   5   6
c   7   8   9
d  10  11  12

In [17]:
print(df2.shape)
print(df2.index) #Returns the custom index and its datatype

(4, 3)
Index(['a', 'b', 'c', 'd'], dtype='object')

<h2>Weather dataset analysis with pandas</h2>

In [18]:
weather_df=pd.read_csv("Data/Weather Data.csv")

In [19]:
# View the top 5 rows
weather_df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [20]:
weather_df["Date/Time"].head()

0    1/1/2012 0:00
1    1/1/2012 1:00
2    1/1/2012 2:00
3    1/1/2012 3:00
4    1/1/2012 4:00
Name: Date/Time, dtype: object

In [21]:
# Datetime is in object datatype .We should convert it into datetime datatype to do analysis based on the date
weather_df["Date/Time"]=pd.to_datetime(weather_df["Date/Time"])

In [22]:
# Validating the datatype conversion
weather_df["Date/Time"].head()

0   2012-01-01 00:00:00
1   2012-01-01 01:00:00
2   2012-01-01 02:00:00
3   2012-01-01 03:00:00
4   2012-01-01 04:00:00
Name: Date/Time, dtype: datetime64[ns]

<h3>Important functions while working with dataframe that eases the work</h3>

<b><i>info()</i></b> returns the metadata information of dataframe such as total row count,row index,column information with their datatype and total memory usage by dataframe

In [23]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   datetime64[ns]
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

<b><i>head()</i></b> returns the first 5 rows by default and we opt for 'n' number of rows by giving 'n' as input <i>head(n)</i>.

In [24]:
weather_df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

<b><i>index</i></b> returns the index information

In [25]:
weather_df.index

RangeIndex(start=0, stop=8784, step=1)

<b><i>unique()</i></b>

Belongs to the series object.Returns the unique values of a particular column.
        <ol>
            1) Values are returned in the order of appearence,doesn't sort 
        </ol>
        <ol>
            2) Includes N/A values 
        </ol>

In [26]:
weather_df["Weather"].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

<h2><i>Mini Challenge 1</i></h2>

<i>Find all the unique Wind Speed values recorded in the dataset</i>

In [27]:
weather_df["Wind Speed_km/h"].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

<b><i>nunique()</i></b>

Property of Series object . Counts the number of unique values in a column
<ol>
    1)Does not include 'N/A'
</ol>
<ol>
    2)Return type is integer
</ol>

In [28]:
weather_df["Weather"].nunique()

50

<b><i>value_counts()</b></i>

Property of Series object . Counts the number of occurences of each unique value in a column 
Similar to combination of <i>count and group by in SQL</i>
<ol>
    1)Resulting value will be in descending order so that the first value will be the most occuring value
</ol>
<ol>
    2)Doesn't include 'N/A' by default 
</ol>

In [29]:
weather_df["Weather"].value_counts()

Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: count, dtype: int64

<h2><i>Mini Challenge 2</i></h2>

Find the number of times when the weather was "clear"

<i>hint</i>: value_counts gives us all the unique values and their occurence counts. 
To get for a particular value,mention the value in square brackets after the value_counts() function.
<i><b>DataFrame["column_name"].value_counts()["value"]</b><i>

In [30]:
weather_df["Weather"].value_counts()["Clear"]

1326

<h2><i>Mini Challenge 3</i></h2>

Find the number of times when the wind speed was exactly 4 km/h

In [31]:
weather_df["Wind Speed_km/h"].value_counts()[4]

474

<h2>Data Manipulation in Pandas</h2>

Get the subset of a dataframe like single column from a dataframe

In [32]:
col=weather_df["Weather"]
print(type(col)) #As single column is a series in pandas, it is stored as Series
print(col)

<class 'pandas.core.series.Series'>
0                        Fog
1                        Fog
2       Freezing Drizzle,Fog
3       Freezing Drizzle,Fog
4                        Fog
                ...
8779                    Snow
8780                    Snow
8781                    Snow
8782                    Snow
8783                    Snow
Name: Weather, Length: 8784, dtype: object

Retrieve two columns from a dataframe(subset)

In [33]:
sub_df=weather_df[["Weather","Wind Speed_km/h"]]
# [] is for series and [[]] is for subset of dataframe.
print(type(sub_df)) #stored as dataframe
print(sub_df)

<class 'pandas.core.frame.DataFrame'>
                   Weather  Wind Speed_km/h
0                      Fog                4
1                      Fog                4
2     Freezing Drizzle,Fog                7
3     Freezing Drizzle,Fog                6
4                      Fog                7
...                    ...              ...
8779                  Snow               30
8780                  Snow               24
8781                  Snow               28
8782                  Snow               28
8783                  Snow               30

[8784 rows x 2 columns]

<b><i>Important</i></b>: Whenever you are retreiving more than one column from dataframe , use double open and closing brackets

<h2>Get the first 25 rows from "weather_df" DataFrame </h2><hr>

We can utilize slicing method by mentioning the start and end range <br>
Syntax:<b>slicing[start:end]</b><br>
Even if the index is non-numerical, it will work

In [34]:
weather_df[:25]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,Fog
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,Fog
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,Fog
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,Fog
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,Fog
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,Fog
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,Mostly Cloudy
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,Cloudy
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,Rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,Rain
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,Cloudy
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,Cloudy
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers

<h3>Retrieve alternative records  from a dataframe</h3>

In [35]:
weather_df[0:10:2] #To retrieve alternating rows from 0th index to 10th

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog

Retrieve alternating records from only selected columns

In [36]:
weather_df[["Weather","Wind Speed_km/h"]][:10:2]

                Weather  Wind Speed_km/h
0                   Fog                4
2  Freezing Drizzle,Fog                7
4                   Fog                7
6                   Fog                7
8                   Fog                9

<h3>How to get the first 3 alternating rows from the "weather_df" dataframe, but only the Visibility and Relative Humidity columns</h3>

In [37]:
weather_df[["Visibility_km","Rel Hum_%"]][:6:2]

   Visibility_km  Rel Hum_%
0            8.0         86
2            4.0         89
4            4.8         88

In [38]:
# solution 1
result1 = weather_df[:6:2][['Rel Hum_%', 'Visibility_km']]

# solution 2
result2 = weather_df[['Rel Hum_%', 'Visibility_km']][:6:2]

# are they the same?
result1 == result2 #== will return result as comparision result DataFrame if no of elements in both the dataframe is equal

   Rel Hum_%  Visibility_km
0       True           True
2       True           True
4       True           True

<h3>So which of the above solutions is optimal?</h3><hr>

<b>Answer:</b><i>Neither</i>. In above two solutions, we are doing chained indexing.During chained indexing, pandas is not sure whether you are applying changes on the original dataframe or copy of dataframe<br>
<b>What is chained indexing?</b><br> Accessing a dataframe by chaining an multiple indexes together.This can lead to ambiguous behavior and performance issues because it is unclear whether the intermediate steps are operating on the original DataFrame or on a copy of it.

<h4>Breakdown of above solutions</h4><hr>
<b>Solution 1:</b><br>
<i>result1 = weather_df[:6:2][['Rel Hum_%', 'Visibility_km']]<br></i>
<ol>
    1)weather_df[:6:2] selects rows at position 2,4,6 from weather_df<br>
</ol>
<ol>
    2)Result of above operation is again indexed to filter the columns 'Rel Hum_%' and 'Visibility_km'<br>
</ol>
<b>Solution 2:</b><br>
<i>result2 = weather_df[['Rel Hum_%', 'Visibility_km']][:6:2]<br></i>
<ol>
    1)weather_df is indexed to filter columns 'Rel Hum_%' and 'Visibility_km'<br>
</ol>
<ol>
    2)result of above operation is again indexed to select rows at position 2,4,6<br>
</ol><br>
While above solutions may yield correct result in read-only scenarios, it causes issue in writing to a dataframe, as pandas will not be sure whether to write to the dataframe or copy of dataframe.<br><hr>

In the above operation, weather_df[:6:2] could either:<br>
<ol>
    Return a view on the original DataFrame (meaning it still references the same underlying data).
</ol>
<ol>
    Return a copy of the data (a completely independent DataFrame).
</ol>
If it returns a copy, any modifications to this subset will not affect the original DataFrame weather_df.<br>

Here, <i><b>indexing refers to the process of selecting specific rows and columns from a DataFrame</b><i><br>

To avoid these issues, you should use <b>single row indexing</b>

<h3>Single row indexing</h3>

Single row indexing deals with the <b>view of the dataframe, not with the copy</b>.<br>So it is encouraged to use single row indexing for viewing and modifying dataframe<br>Data can be indexed by label or integer based

Single row indexing deals with the <b>view of the dataframe, not with the copy</b>.<br>So it is encouraged to use single row indexing for viewing and modifying dataframe<br>Data can be indexed by label or integer based

<h3>loc()</h3><hr>label based indexing<br>
<b>Syntax:</b><br>
<i>DataFrame.loc[row label slicing/label,column label slicing/label]</i>

In [39]:
weather_df.loc()[0:10] #It includes the ending index

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,Fog

In [40]:
# Get the specific row and column
weather_df.loc[3,'Rel Hum_%']

88

In [41]:
# Select multiple rows and columns
weather_df.loc[[3,7],['Rel Hum_%', 'Visibility_km']]

   Rel Hum_%  Visibility_km
3         88            4.0
7         85            8.0

In [42]:
# Slicing in rows and columns
weather_df.loc[3:7,'Rel Hum_%':'Weather']

   Rel Hum_%  Wind Speed_km/h  Visibility_km  Press_kPa               Weather
3         88                6            4.0     101.27  Freezing Drizzle,Fog
4         88                7            4.8     101.23                   Fog
5         87                9            6.4     101.27                   Fog
6         89                7            6.4     101.29                   Fog
7         85                7            8.0     101.26                   Fog

<h3>iloc()</h3><hr>
position based indexing/integer based <br>
<b>Syntax:</b><br>
<i>DataFrame.iloc[row index slicing/index,column index slicing/index]</i>

In [43]:
weather_df.iloc[0:10] #Doesn't include the ending index here

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog

In [44]:
#Index column by position
weather_df.iloc[0:10,7]

0                     Fog
1                     Fog
2    Freezing Drizzle,Fog
3    Freezing Drizzle,Fog
4                     Fog
5                     Fog
6                     Fog
7                     Fog
8                     Fog
9                     Fog
Name: Weather, dtype: object

In [45]:
# Slicing column by position
weather_df.iloc[0:10,4:7] #doesn't include the weather column here as it doesnt cover the ending index

   Wind Speed_km/h  Visibility_km  Press_kPa
0                4            8.0     101.24
1                4            8.0     101.24
2                7            4.0     101.26
3                6            4.0     101.27
4                7            4.8     101.23
5                9            6.4     101.27
6                7            6.4     101.29
7                7            8.0     101.26
8                9            8.0     101.23
9               15            4.0     101.20

<h2>Mini Challenge 4 </h2>
<hr>
Get the first 3 alternating rows from the <b>weather_df</b> dataframe, but only the <i>Visibility and Relative Humidity</i> columns

In [46]:
weather_df.iloc[0:6:2,[3,5]]

   Rel Hum_%  Visibility_km
0         86            8.0
2         89            4.0
4         88            4.8

<h2>Filtering</h2>
<hr>

When working with data, we may not need all the data .We need to <b>filter</b> the data based on the requirement and work on it.<br>So understanding filter operations is crucial

<h3>Find all instances where it snowed</b>

In [47]:
weather_snow_check=weather_df["Weather"]=="Snow"
# Returns an boolean array with true for rows that satisfies the condition and false for others

In [48]:
weather_snow_check.value_counts()

Weather
False    8394
True      390
Name: count, dtype: int64

In [49]:
weather_df["Weather"].unique()
# Could see from the result that snow is part of other weathers as well such as 'Freezing Rain,Snow Grains','Rain Showers,Snow Showers' 
# So directly comparing won't help

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [50]:
weather_snowed=weather_df["Weather"].str.lower().str.contains("snow")

In [51]:
weather_snowed.value_counts()

Weather
False    8201
True      583
Name: count, dtype: int64

Could see the True in above case more than true in weather_snow_check!

<h3>Find all instances when wind speed was above 24 and visibility was 25<h3>

In [52]:
weather_df[(weather_df["Wind Speed_km/h"] > 24) & (weather_df["Visibility_km"]==25)] 
# (weather_df["Wind Speed_km/h"] > 24) & (weather_df["Visibility_km"]==25) will return an boolean array to outer weather_df dataframe

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8705,2012-12-28 17:00:00,-8.6,-12.0,76,26,25.0,101.34,Mainly Clear
8753,2012-12-30 17:00:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy

<h3>Summary:Selection,Indexing and Filtering</h3>
<hr>
    <table border="1">
        <tr>
            <th>Syntax</th>
            <th>Function</th>
        </tr>
        <tr>
            <td>df['label']</td>
            <td>Returns the specific label column</td>
        </tr>
        <tr>
            <td>df['label1', 'label2']</td>
            <td>Returns multiple label columns</td>
        </tr>
        <tr>
            <td>df['row_label', 'column_label']</td>
            <td>Returns multiple label columns</td>
        </tr>
        <tr>
            <td>df[start_index:end_index:increment]</td>
            <td>Returns rows based on slicing label/index without ending label index</td>
        </tr>
        <tr>
            <td>df.loc[start_label:end_label]</td>
            <td>Returns rows based on slicing label with ending label</td>
        </tr>
        <tr>
            <td>df.iloc[start_index:end_index]</td>
            <td>Returns rows based on slicing index without ending index</td>
        </tr>
        <tr>
            <td>df[condition/boolean_array]</td>
            <td>Returns based on condition or boolean array</td>
        </tr>
    </table>

<h2>Working with columns </h2>
<hr>

Learn
<ul>
    <li>How to carry out Series operations on DataFrame Columns</li>
    <li>How to add or update columns within a DataFrame</li>
    <li>How to rename specific columns</li>
    <li>How to delete or drop a column that is no longer required for analysis</li>
</ul>

Arithmetic operations on a single column in dataframe using the methods of Series

In [53]:
weather_df["Wind Speed_km/h"]%5  #Returns the remainder from 5

0       4
1       4
2       2
3       1
4       2
       ..
8779    0
8780    4
8781    3
8782    3
8783    0
Name: Wind Speed_km/h, Length: 8784, dtype: int64

Add 10 to the values in the column "Wind Spd (km/h)" using the "+" operator

In [54]:
weather_df["Wind Speed_km/h"]+10

0       14
1       14
2       17
3       16
4       17
        ..
8779    40
8780    34
8781    38
8782    38
8783    40
Name: Wind Speed_km/h, Length: 8784, dtype: int64

Multiply the values in the 'Visibility (km)' column by 2 using the asterisk (*) operator

In [55]:
weather_df["Visibility_km"]*2

0       16.0
1       16.0
2        8.0
3        8.0
4        9.6
        ...
8779    19.4
8780    19.4
8781     9.6
8782    19.4
8783    22.6
Name: Visibility_km, Length: 8784, dtype: float64

Add the "Temp (C)" and "Dew Point Temp (C)" columns as series "temperature"

In [56]:
temperature=weather_df["Temp_C"]+weather_df["Dew Point Temp_C"]

In [57]:
print(temperature)

0      -5.7
1      -5.5
2      -5.2
3      -4.7
4      -4.8
       ...
8779   -2.6
8780   -2.2
8781   -2.0
8782   -2.0
8783   -2.1
Length: 8784, dtype: float64

Add the temperature column temp in weather df adding "Temp (C)" and "Dew Point Temp (C)"

In [58]:
weather_df["temp_col"]=weather_df["Temp_C"]+weather_df["Dew Point Temp_C"]

In [59]:
#could see the temp_col created 
weather_df.head() 
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   datetime64[ns]
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
 8   temp_col          8784 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

<h2>Apply/Call functions </h2>

<h3>apply()</h3>
<hr>
Helps to apply built in or custom function on the specific axis of series or dataframe.<br> Here axis 0 for columns and 1 for rows<br>
<b>Syntax:</b><br>
<i>df.apply(func,axis)</i>

In [60]:
# Column level operation
def double_value(col):
    return col*2

weather_df["Wind Speed_km/h"].apply(double_value,0)

C:\Users\JERSON FENADICT\AppData\Local\Temp\ipykernel_37232\95448376.py:5: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  weather_df["Wind Speed_km/h"].apply(double_value,0)

0        8
1        8
2       14
3       12
4       14
        ..
8779    60
8780    48
8781    56
8782    56
8783    60
Name: Wind Speed_km/h, Length: 8784, dtype: object

In [61]:
# Same can be acheived by lambda function
weather_df["Wind Speed_km/h"].apply(lambda values:values*2,0)

C:\Users\JERSON FENADICT\AppData\Local\Temp\ipykernel_37232\1948340314.py:2: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  weather_df["Wind Speed_km/h"].apply(lambda values:values*2,0)

0        8
1        8
2       14
3       12
4       14
        ..
8779    60
8780    48
8781    56
8782    56
8783    60
Name: Wind Speed_km/h, Length: 8784, dtype: object

In [62]:
# Row level operation
# Average of Temp_C and Dew Point Temp_C 
weather_df[["Temp_C","Dew Point Temp_C"]].apply(lambda values:sum(values)/2,0)

Temp_C              38641.45
Dew Point Temp_C    11222.85
dtype: float64

<h3>describe()</h3>
<hr>
Fetches the descriptive statistics for a series or dataframe excluding <b>NaN (missing) values</b>.<br>
<b>For integer data:</b>
    Index includes count, mean, std, min, max, and percentiles (default: 25th, 50th, 75th).<br>
<b>For object data:</b>
    Index includes count, unique, top, and frequency.

In [63]:
weather_df.describe()
# The reason the “weather” column is not included in the describe() result is that this method provides summary statistics only for numeric columns
# when particular column name is not mentioned.

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,temp_col
count,8784,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,2012-07-01 23:30:00,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623,11.353438
min,2012-01-01 00:00:00,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000,-51.800000
25%,2012-04-01 11:45:00,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000,-5.300000
50%,2012-07-01 23:30:00,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000,12.200000
75%,2012-10-01 11:15:00,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000,30.600000
max,2012-12-31 23:00:00,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000,53.400000
std,NaN,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005,22.188521

In [64]:
# For numeric column
weather_df["Wind Speed_km/h"].describe()

count    8784.000000
mean       14.945469
std         8.688696
min         0.000000
25%         9.000000
50%        13.000000
75%        20.000000
max        83.000000
Name: Wind Speed_km/h, dtype: float64

In [65]:
# For object column
weather_df["Weather"].describe()

count             8784
unique              50
top       Mainly Clear
freq              2106
Name: Weather, dtype: object

<h3>Adding/Updating column</h3>
<hr>

In [66]:
# adding an column
weather_df["temp_mean"]=weather_df[["Temp_C","Dew Point Temp_C"]].apply(lambda values:sum(values)/2,1)

In [67]:
weather_df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather,temp_col,temp_mean
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7,-2.85
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5,-2.75
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2,-2.60
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7,-2.35
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8,-2.40

In [68]:
# Updating an column
new_visibility=weather_df["Visibility_km"]*1000
weather_df["Visibility_km"]=new_visibility

In [69]:
weather_df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather,temp_col,temp_mean
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8000.0,101.24,Fog,-5.7,-2.85
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8000.0,101.24,Fog,-5.5,-2.75
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4000.0,101.26,"Freezing Drizzle,Fog",-5.2,-2.60
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4000.0,101.27,"Freezing Drizzle,Fog",-4.7,-2.35
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4800.0,101.23,Fog,-4.8,-2.40

<h2>Renaming a column/row label</h2>
<hr>
Rename function works like a dictionary where column/row label is key and new is value<br>
<b>Syntax:</b><i>df.rename(column/index={key:value},inplace=True)</i><br>
Pandas by default creates a copy of dataframe for most of the operations.Thus changes will not affected in original dataframe. To avoid this,use <b>inplace=True</b>

In [70]:
# Renaming a column
weather_df.rename(columns={"Wind Speed_km/h":"Wind Speed"},inplace=True)

In [71]:
weather_df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed,Visibility_km,Press_kPa,Weather,temp_col,temp_mean
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8000.0,101.24,Fog,-5.7,-2.85
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8000.0,101.24,Fog,-5.5,-2.75
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4000.0,101.26,"Freezing Drizzle,Fog",-5.2,-2.60
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4000.0,101.27,"Freezing Drizzle,Fog",-4.7,-2.35
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4800.0,101.23,Fog,-4.8,-2.40

In [72]:
# Renaming a row
weather_df.rename(index={1:00},inplace=True)

<h2>Dropping a column/index </h2>
<hr>
drops the particular row or column based on the axis.If inplace is not True, it will modify the copy of the dataframe and return it.Not to the original one<br>
<p>axis 0 for rows,1 for columns </p>
<b>Syntax:</b>
<i>df.drop(label="",axis)</i>

In [73]:
# Drop the column wind 
weather_df.drop(labels="Dew Point Temp_C",axis=1)
weather_df.head()
# Could see the wind speed column is present in the dataframe.As we didnt use the "inplace=True",it returns the copy of data

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed,Visibility_km,Press_kPa,Weather,temp_col,temp_mean
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8000.0,101.24,Fog,-5.7,-2.85
0,2012-01-01 01:00:00,-1.8,-3.7,87,4,8000.0,101.24,Fog,-5.5,-2.75
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4000.0,101.26,"Freezing Drizzle,Fog",-5.2,-2.60
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4000.0,101.27,"Freezing Drizzle,Fog",-4.7,-2.35
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4800.0,101.23,Fog,-4.8,-2.40

In [74]:
# With inplace
weather_df.drop(labels="Wind Speed",axis=1,inplace=True)
weather_df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Visibility_km,Press_kPa,Weather,temp_col,temp_mean
0,2012-01-01 00:00:00,-1.8,-3.9,86,8000.0,101.24,Fog,-5.7,-2.85
0,2012-01-01 01:00:00,-1.8,-3.7,87,8000.0,101.24,Fog,-5.5,-2.75
2,2012-01-01 02:00:00,-1.8,-3.4,89,4000.0,101.26,"Freezing Drizzle,Fog",-5.2,-2.60
3,2012-01-01 03:00:00,-1.5,-3.2,88,4000.0,101.27,"Freezing Drizzle,Fog",-4.7,-2.35
4,2012-01-01 04:00:00,-1.5,-3.3,88,4800.0,101.23,Fog,-4.8,-2.40

<h2>Sorting values</h2>
<hr>
<p>Sort the values based on the ascending value True or False</p>

In [75]:
weather_df.sort_values("Temp_C",ascending=False) #sorts in descending order

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Visibility_km,Press_kPa,Weather,temp_col,temp_mean
4695,2012-07-14 15:00:00,33.0,16.8,38,48300.0,101.31,Mainly Clear,49.8,24.90
4143,2012-06-21 15:00:00,33.0,19.0,44,24100.0,100.20,Mainly Clear,52.0,26.00
4696,2012-07-14 16:00:00,32.9,15.3,35,48300.0,101.26,Mainly Clear,48.2,24.10
5199,2012-08-04 15:00:00,32.8,18.8,44,24100.0,101.39,Clear,51.6,25.80
4694,2012-07-14 14:00:00,32.7,15.3,35,48300.0,101.35,Mainly Clear,48.0,24.00
...,...,...,...,...,...,...,...,...,...
338,2012-01-15 02:00:00,-21.4,-26.6,63,25000.0,101.99,Cloudy,-48.0,-24.00
345,2012-01-15 09:00:00,-22.2,-27.8,60,48300.0,102.57,Mainly Clear,-50.0,-25.00
343,2012-01-15 07:00:00,-22.8,-28.0,62,25000.0,102.37,Mainly Clear,-50.8,-25.40
342,2012-01-15 06:00:00,-23.2,-28.5,62,25000.0,102.28,Mostly Cloudy,-51.7,-25.85
344,2012-01-15 08:00:00,-23.3,-28.5,62,24100.0,102.45,Clear,-51.8,-25.90

<h3>Which were the top 10 hottest values and their counts?</h3>

In [76]:
weather_df["Temp_C"].value_counts().sort_values(ascending=False)

Temp_C
 16.6    65
 1.1     58
 0.8     47
 1.5     45
 19.3    44
         ..
 32.7     1
-17.0     1
-17.7     1
-23.2     1
-21.3     1
Name: count, Length: 533, dtype: int64

In [77]:
# Filter certain rows based on the values in  a particular column 
weather_df[weather_df["Weather"].isin(["Snow","Mainly Clear"])]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Visibility_km,Press_kPa,Weather,temp_col,temp_mean
36,2012-01-02 12:00:00,1.7,-6.2,56,24100.0,99.21,Mainly Clear,-4.5,-2.25
55,2012-01-03 07:00:00,-14.0,-19.5,63,25000.0,100.95,Snow,-33.5,-16.75
60,2012-01-03 12:00:00,-14.9,-22.6,52,24100.0,101.34,Mainly Clear,-37.5,-18.75
61,2012-01-03 13:00:00,-15.1,-22.4,54,24100.0,101.34,Mainly Clear,-37.5,-18.75
62,2012-01-03 14:00:00,-14.9,-22.9,50,24100.0,101.38,Mainly Clear,-37.8,-18.90
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,9700.0,100.13,Snow,-2.6,-1.30
8780,2012-12-31 20:00:00,0.2,-2.4,83,9700.0,100.03,Snow,-2.2,-1.10
8781,2012-12-31 21:00:00,-0.5,-1.5,93,4800.0,99.95,Snow,-2.0,-1.00
8782,2012-12-31 22:00:00,-0.2,-1.8,89,9700.0,99.91,Snow,-2.0,-1.00
8783,2012-12-31 23:00:00,0.0,-2.1,86,11300.0,99.89,Snow,-2.1,-1.05

<h3>Print average temperature of each month</h3>

In [78]:
mean_temperature={}

for month in range(1,13):
    mean_temperature[month]=weather_df.loc[weather_df["Date/Time"].dt.month==month,"Temp_C"].mean()

pd.Series(mean_temperature)

1     -7.371505
2     -4.225000
3      3.121237
4      7.009306
5     16.237769
6     20.134028
7     22.790054
8     22.279301
9     16.484444
10    10.954973
11     0.931389
12    -3.306317
dtype: float64

<h2>Pivot Table</h2>
<hr>
The pivot function in pandas is used to <b>reshape data by transforming rows into columns.</b><br>
Pivot tables provide an easy way to subset by one column and then apply a calculation like a sum or a mean<br>
Pivot tables first groups and only then applies a calculation<br>
<b>Syntax:</b>
<i>df.pivot(index="",columns="",values="",aggfunc="")</i>

In [79]:
weather_df.pivot(index="Date/Time",columns="Weather",values="Temp_C").head()

Weather,Clear,Cloudy,Drizzle,"Drizzle,Fog","Drizzle,Ice Pellets,Fog","Drizzle,Snow","Drizzle,Snow,Fog",Fog,Freezing Drizzle,"Freezing Drizzle,Fog",...,"Snow,Fog","Snow,Haze","Snow,Ice Pellets",Thunderstorms,"Thunderstorms,Heavy Rain Showers","Thunderstorms,Moderate Rain Showers,Fog","Thunderstorms,Rain","Thunderstorms,Rain Showers","Thunderstorms,Rain Showers,Fog","Thunderstorms,Rain,Fog"
Date/Time,,,,,,,,,,,,,,,,,,,,,
2012-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
data = {
    'A': ['foo','foo','foo','bar','bar','bar'],
    'B': ['one','one','two','two','one','one'],
    'C': ['x','y','x','y','x','y'],
    'D': [1, 3, 2, 5, 4, 1]
}

pivot_df = pd.DataFrame(data)
pivot_df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [81]:
pivoted_df=pivot_df.pivot_table(index="A",columns="C",values="D",aggfunc=np.sum)

C:\Users\JERSON FENADICT\AppData\Local\Temp\ipykernel_37232\258768607.py:1: FutureWarning: The provided callable <function sum at 0x00000297ABD599E0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivoted_df=pivot_df.pivot_table(index="A",columns="C",values="D",aggfunc=np.sum)

In [82]:
# Converts it back to a simple index
pivoted_df.reset_index()

C    A  x  y
0  bar  4  6
1  foo  3  3

<h2>Lets try again</h2>
<h3>Print average temperature of each month</h3>

In [83]:
weather_df.pivot_table(index=weather_df["Date/Time"].dt.month,values="Temp_C",aggfunc=np.mean)

C:\Users\JERSON FENADICT\AppData\Local\Temp\ipykernel_37232\2182886901.py:1: FutureWarning: The provided callable <function mean at 0x00000297ABD5AAC0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  weather_df.pivot_table(index=weather_df["Date/Time"].dt.month,values="Temp_C",aggfunc=np.mean)

              Temp_C
Date/Time
1          -7.371505
2          -4.225000
3           3.121237
4           7.009306
5          16.237769
6          20.134028
7          22.790054
8          22.279301
9          16.484444
10         10.954973
11          0.931389
12         -3.306317

<h2>Group By</h2>
<hr>
Group by enables you to group set of data together based on a value and apply aggregate functions on them

All group by operations does the following steps
<ol>
    <li>Split the data based on the group by value</li>
    <li>Apply functions on it</li>
    <li>Combine the data into a result</li>
</ol>

<h5>Splitting the data</h5>

In [84]:
g=weather_df.loc[:,["Date/Time","Temp_C"]].groupby(weather_df["Date/Time"].dt.month)
g #In g group by object, group by value is stored as the key and its respective data is stored as dataframe

In [85]:
for date,date_df in g:
    print(date) #group by value ->key
    print(date_df) #values stored as dataframe

1
              Date/Time  Temp_C
0   2012-01-01 00:00:00    -1.8
0   2012-01-01 01:00:00    -1.8
2   2012-01-01 02:00:00    -1.8
3   2012-01-01 03:00:00    -1.5
4   2012-01-01 04:00:00    -1.5
..                  ...     ...
739 2012-01-31 19:00:00    -7.7
740 2012-01-31 20:00:00    -7.4
741 2012-01-31 21:00:00    -7.1
742 2012-01-31 22:00:00    -7.1
743 2012-01-31 23:00:00    -6.8

[744 rows x 2 columns]
2
               Date/Time  Temp_C
744  2012-02-01 00:00:00    -6.7
745  2012-02-01 01:00:00    -6.7
746  2012-02-01 02:00:00    -6.8
747  2012-02-01 03:00:00    -6.5
748  2012-02-01 04:00:00    -5.8
...                  ...     ...
1435 2012-02-29 19:00:00    -4.6
1436 2012-02-29 20:00:00    -4.5
1437 2012-02-29 21:00:00    -4.6
1438 2012-02-29 22:00:00    -4.5
1439 2012-02-29 23:00:00    -5.1

[696 rows x 2 columns]
3
               Date/Time  Temp_C
1440 2012-03-01 00:00:00    -5.5
1441 2012-03-01 01:00:00    -5.7
1442 2012-03-01 02:00:00    -5.4
1443 2012-03-01 03:00:00    -4.7
1444 2012-03-01 04:00:00    -5.4
...                  ...     ...
2179 2012-03-31 19:00:00     5.9
2180 2012-03-31 20:00:00     4.4
2181 2012-03-31 21:00:00     2.6
2182 2012-03-31 22:00:00     2.7
2183 2012-03-31 23:00:00     1.5

[744 rows x 2 columns]
4
               Date/Time  Temp_C
2184 2012-04-01 00:00:00     0.4
2185 2012-04-01 01:00:00    -1.5
2186 2012-04-01 02:00:00     0.1
2187 2012-04-01 03:00:00    -1.0
2188 2012-04-01 04:00:00    -1.0
...                  ...     ...
2899 2012-04-30 19:00:00    12.2
2900 2012-04-30 20:00:00    12.1
2901 2012-04-30 21:00:00    12.2
2902 2012-04-30 22:00:00    12.0
2903 2012-04-30 23:00:00    11.1

[720 rows x 2 columns]
5
               Date/Time  Temp_C
2904 2012-05-01 00:00:00    11.4
2905 2012-05-01 01:00:00    10.8
2906 2012-05-01 02:00:00     9.7
2907 2012-05-01 03:00:00     8.8
2908 2012-05-01 04:00:00     8.4
...                  ...     ...
3643 2012-05-31 19:00:00    17.1
3644 2012-05-31 20:00:00    14.8
3645 2012-05-31 21:00:00    12.8
3646 2012-05-31 22:00:00    12.5
3647 2012-05-31 23:00:00    12.8

[744 rows x 2 columns]
6
               Date/Time  Temp_C
3648 2012-06-01 00:00:00    11.6
3649 2012-06-01 01:00:00    11.3
3650 2012-06-01 02:00:00    10.8
3651 2012-06-01 03:00:00     9.5
3652 2012-06-01 04:00:00    10.1
...                  ...     ...
4363 2012-06-30 19:00:00    23.9
4364 2012-06-30 20:00:00    22.9
4365 2012-06-30 21:00:00    23.6
4366 2012-06-30 22:00:00    23.3
4367 2012-06-30 23:00:00    22.3

[720 rows x 2 columns]
7
               Date/Time  Temp_C
4368 2012-07-01 00:00:00    22.0
4369 2012-07-01 01:00:00    21.1
4370 2012-07-01 02:00:00    20.4
4371 2012-07-01 03:00:00    20.2
4372 2012-07-01 04:00:00    20.0
...                  ...     ...
5107 2012-07-31 19:00:00    24.8
5108 2012-07-31 20:00:00    22.4
5109 2012-07-31 21:00:00    22.8
5110 2012-07-31 22:00:00    22.8
5111 2012-07-31 23:00:00    21.8

[744 rows x 2 columns]
8
               Date/Time  Temp_C
5112 2012-08-01 00:00:00    21.0
5113 2012-08-01 01:00:00    21.0
5114 2012-08-01 02:00:00    21.3
5115 2012-08-01 03:00:00    20.8
5116 2012-08-01 04:00:00    20.8
...                  ...     ...
5851 2012-08-31 19:00:00    23.1
5852 2012-08-31 20:00:00    22.3
5853 2012-08-31 21:00:00    21.6
5854 2012-08-31 22:00:00    21.7
5855 2012-08-31 23:00:00    20.8

[744 rows x 2 columns]
9
               Date/Time  Temp_C
5856 2012-09-01 00:00:00    19.6
5857 2012-09-01 01:00:00    19.1
5858 2012-09-01 02:00:00    19.1
5859 2012-09-01 03:00:00    17.7
5860 2012-09-01 04:00:00    16.3
...                  ...     ...
6571 2012-09-30 19:00:00    11.5
6572 2012-09-30 20:00:00    11.6
6573 2012-09-30 21:00:00    11.6
6574 2012-09-30 22:00:00    11.6
6575 2012-09-30 23:00:00    11.5

[720 rows x 2 columns]
10
               Date/Time  Temp_C
6576 2012-10-01 00:00:00    11.5
6577 2012-10-01 01:00:00    11.4
6578 2012-10-01 02:00:00    11.3
6579 2012-10-01 03:00:00    11.2
6580 2012-10-01 04:00:00    11.3
...                  ...     ...
7315 2012-10-31 19:00:00     8.5
7316 2012-10-31 20:00:00     8.4
7317 2012-10-31 21:00:00     8.1
7318 2012-10-31 22:00:00     7.8
7319 2012-10-31 23:00:00     8.1

[744 rows x 2 columns]
11
               Date/Time  Temp_C
7320 2012-11-01 00:00:00     7.8
7321 2012-11-01 01:00:00     7.6
7322 2012-11-01 02:00:00     7.6
7323 2012-11-01 03:00:00     7.3
7324 2012-11-01 04:00:00     7.7
...                  ...     ...
8035 2012-11-30 19:00:00    -9.7
8036 2012-11-30 20:00:00   -10.0
8037 2012-11-30 21:00:00   -10.4
8038 2012-11-30 22:00:00   -10.7
8039 2012-11-30 23:00:00   -10.8

[720 rows x 2 columns]
12
               Date/Time  Temp_C
8040 2012-12-01 00:00:00   -10.8
8041 2012-12-01 01:00:00   -11.0
8042 2012-12-01 02:00:00   -11.1
8043 2012-12-01 03:00:00   -12.5
8044 2012-12-01 04:00:00   -11.8
...                  ...     ...
8779 2012-12-31 19:00:00     0.1
8780 2012-12-31 20:00:00     0.2
8781 2012-12-31 21:00:00    -0.5
8782 2012-12-31 22:00:00    -0.2
8783 2012-12-31 23:00:00     0.0

[744 rows x 2 columns]

<h5>Apply function on the split data and combine it</h5>

In [86]:
g["Temp_C"].mean()

Date/Time
1     -7.371505
2     -4.225000
3      3.121237
4      7.009306
5     16.237769
6     20.134028
7     22.790054
8     22.279301
9     16.484444
10    10.954973
11     0.931389
12    -3.306317
Name: Temp_C, dtype: float64

<h2>Concat, Merge and Join</h2>

<h5> Concat </h5>
<hr>
Combine Series or dataframe along a specified axis.axis=0 for rows and axis=1 for columns 
<br>
<b>Matching Dimensions:</b>
<ul>
    <li>When concatenating along rows, the number of columns must be the same for all DataFrames.</li>
    <li>When concatenating along columns, the number of rows must match.</li>
</ul>

In [87]:
df1=pd.DataFrame({
    'A':['A0','A1','A2','A3'],
    'B':['B0','B1','B2','B3'],
    'C':['C0','C1','C2','C3'],
    'D':['D0','D1','D2','D3']
},index=[0,1,2,3])
df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}, index=[4, 5, 6, 7])

df3 = pd.DataFrame({
    'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'E': ['D8', 'D9', 'D10', 'D11']
}, index=[8, 9, 10, 11])

In [88]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [89]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [90]:
df3

      A    B    C    E
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [91]:
# If axis is not defined by default, it concats along the rows
pd.concat([df1,df2,df3])

      A    B    C    D    E
0    A0   B0   C0   D0  NaN
1    A1   B1   C1   D1  NaN
2    A2   B2   C2   D2  NaN
3    A3   B3   C3   D3  NaN
4    A4   B4   C4   D4  NaN
5    A5   B5   C5   D5  NaN
6    A6   B6   C6   D6  NaN
7    A7   B7   C7   D7  NaN
8    A8   B8   C8  NaN   D8
9    A9   B9   C9  NaN   D9
10  A10  B10  C10  NaN  D10
11  A11  B11  C11  NaN  D11

In [92]:
# Concating along columns
pd.concat([df1,df2,df3],axis=1)

      A    B    C    D    A    B    C    D    A    B    C    E
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

<h5>Joins</h5>
<hr>
Join dataframes based on the indices primarily

In [93]:
left_df = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}, index=['K0', 'K1', 'K2']) 

right_df = pd.DataFrame({
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
}, index=['K0', 'K2', 'K3'])

In [94]:
left_df.join(right_df,how="inner")

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

<h5>Merge</h5>

Join dataframes based on the columns

In [96]:
# Merging on multiple keys
left = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})
    
right = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
})

In [97]:
pd.merge(left,right,how="inner",on=["key1","key2"])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2