<h1>Pandas</h1>

In [19]:
import pandas as pd
import numpy as np

In [2]:
list=[10,20,30]

We can't directly initialize elements to a series as we do for lists,dictionary.Series can be empty or build on top of a list,array or dictionary

<h3>creating an pandas series from python list</h3>

In [ ]:
l_series=pd.Series(list)

In [ ]:
print(l_series)
# O/P:
# Axis  Values
# 0    10
# 1    20
# 2    30
# dtype: int64

In [17]:
# Returns the starting and ending index value and the way how indexed is incremented
print(l_series.index)

RangeIndex(start=0, stop=3, step=1)

In [18]:
# Returns the elements of series in iterable format
print(l_series.values)

[10 20 30]

<h3>creating an pandas series from numpy array</h3>

In [24]:
index=['a','b','c'] # Adding custom index to the series 
arr=np.array([2,3,10]) #Initializing an numpy array with the use numpy.array() function
np_series=pd.Series(arr,index)
print(np_series)

a     2
b     3
c    10
dtype: int32

<h3>creating an pandas series from python dictionary</h3>

In [49]:
dict={'a':2,'b':3,'c':10}  #Initializing an python dictionary
dict_series=pd.Series(dict) #Creating the series from dictionary
print(dict_series)
# keys from dictionary is taken as index, if index is default 
# a     2          
# b     3
# c    10
# dtype: int64

a     2
b     3
c    10
dtype: int64

<h2>Index in Series</h2>

In [43]:
ser1=pd.Series([1,2,3,4],index=['USA','Germany','USSR','Japan'])
ser2=pd.Series([1,2,5,4],index=['USA','Germany','Italy','Japan'])

In [44]:
ser2['Italy'] #Returns the element of that index

5

In [45]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [46]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [48]:
# Arithmetic operations like addition,subtraction,multiplication and division can be done on two series 
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64